<%= bootstrap_form_for(@games_boardgame) do |f| %>
  <% if @games_boardgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@games_boardgame.errors.count, "error") %> prohibited this games_boardgame from being saved:</h2>

      <ul>
        <% @games_boardgame.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field   :name, required: true %>
  <%= f.text_area    :description %>
  <%= f.text_field   :publisher %>
  <%= f.text_field   :url %>
  <%= f.number_field :min_players, required: true, min: 1, value: 1 %>
  <%= f.number_field :max_players, required: true, min: 1 %>
  <%= f.number_field :stock  %>
  <%= f.file_field   :image %>
  <%= f.submit %>
<% end %>
