<p id="notice"><%= notice %></p>

<h1>Listing Games Boardgames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Publisher</th>
      <th>Url</th>
      <th>Image</th>
      <th>Min players</th>
      <th>Max players</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games_boardgames.each do |games_boardgame| %>
      <tr>
        <td><%= games_boardgame.name %></td>
        <td><%= games_boardgame.description %></td>
        <td><%= games_boardgame.publisher %></td>
        <td><%= games_boardgame.url %></td>
        <td><%= games_boardgame.image %></td>
        <td><%= games_boardgame.min_players %></td>
        <td><%= games_boardgame.max_players %></td>
        <td><%= games_boardgame.slug %></td>
        <td><%= link_to 'Show', games_boardgame %></td>
        <td><%= link_to 'Edit', edit_games_boardgame_path(games_boardgame) %></td>
        <td><%= link_to 'Destroy', games_boardgame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boardgame', new_games_boardgame_path %>
