<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-body">
      Boardgames
    </div>

    <div class="row">
      <div class="masonry-container">
        <% @games_boardgames.each do |game| %>
          <%= link_to games_boardgame_url(game), class: 'game-preview' do %>
            <div class="grid-item col-sm-6 col-md-4 col-xs-12">
              <div class="panel panel-body">
                <%= image_tag game.image.url, class: 'img-responsive thumbnail', alt: game.name  %>
                <h2><%= game.name %></h2>
                <%= game.description %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
