<%= bootstrap_form_for(@games_console) do |f| %>
  <% if @games_console.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@games_console.errors.count, "error") %> prohibited this games_console from being saved:</h2>

      <ul>
        <% @games_console.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :console %>
  <%= f.text_field :publisher %>
  <%= f.text_field :url %>
  <%= f.number_field :min_players %>
  <%= f.number_field :max_players %>
  <%= f.number_field :stock %>
  <%= f.file_field :image %>
  <%= f.submit %>
<% end %>
