<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-body">
      <%= link_to 'Boardgames', games_boardgames_path %>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-body">
      <%= link_to 'Card Games' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-body">
      <%= link_to 'Consoles', games_consoles_path %>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-body">
      <%= link_to 'RPGs' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-body">
      <%= link_to 'Wargames' %>
    </div>
  </div>
</div>
